@font-face {
	font-family: freeMono;
	src: url("FreeMono.ttf");
}
body {
	font-family: freeMono;
}
header * {
	font-family: freeMono;
}
main {
	font-family: freeMono;
}
header h1 {
	font-size: 2.5em;
}